@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body,html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #2F3136;
    color: white;
}
#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #b8b8b8;
}
#header-left{
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
    gap: 15px;
}
#header-right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 10px;
}
.logo img{
    height: 64px;
    border-radius: 4px;
    cursor: pointer;
}
.login-button{

    border-radius: 5px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 12.5px;
    margin-right: 25px;
    transition: 0.25s
 }
.login-button:hover{
    background-color: white;
    color: black;
 }
#acct{
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12.5px;
    margin-right: 25px;
    cursor: pointer;
 }
#phantom-login img{
    height: 50px;
}
.nft-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.nft-case{
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
}
.nft-case img{
    position: relative;
    bottom: -3px;
    margin-left: 0;
    width: 100%;
}
.trade-button{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}
.trade-button:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
#user-data-display{
    text-align:center;
}
.trading-arena{
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;
}
h1,h2,h3,h4,h5{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.selected{
    border: solid 5px white;
}
p{
    text-align: center;
}
.user-row{
    border: solid 1px white;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.link-button{
    border: solid 1px white;
    margin-top:5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.user-search{
    display: flex;
    flex-wrap: nowrap;
}
.user-search input{
    width: 70%;
    margin: 0;
    padding: 5px 10px;
    border: solid 1px black;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
}
.user-search button{
    width:30%;
    margin: 0;
    padding: 5px 10px;
    transition: 0.25s;
    background-color: white;
    border: solid 1px black;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: black;
}
.user-search button:hover{
    background-color: #1f76e0;
    color: white;
}
.user-login_box{
    z-index: 999;
    border: solid 1px #b8b8b8;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 100px;
    right: 10px;
    padding: 10px;
    background-color: #2F3136;
}
.user-login_box button{
    margin-left: 50%;
    transform: translateX(-50%);
}
.user-login_box input{
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: solid 1px white;
    border-right: 0;
    border-radius: 5px;
}
.user-login_box button{
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
}
.user-login_box button:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
button{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}
button:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
.logout{
margin-right: 10px;
}