@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body,html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #2F3136;
    color: white;
}
#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #b8b8b8;
}
#header-left{
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
    gap: 15px;
}
#header-right{
    display: flex;
    flex-wrap: nowrap;
}
.login-button{
    border-radius: 5px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 12.5px;
    margin-right: 25px;
    transition: 0.25s
 }
.login-button:hover{
    background-color: white;
    color: black;
 }

.logo img{
    height: 64px;
    border-radius: 4px;
    cursor: pointer;
}
#acct{
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12.5px;
    margin-right: 25px;
    cursor: pointer;
 }
#phantom-login img{
    height: 50px;
}
.nft-display{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.nft-case{
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
}
.nft-case img{
    position: relative;
    bottom: -3px;
    margin-left: 0;
    width: 100%;
}
.refresh-nfts{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
}
.refresh-nfts:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
#deposit-display{
    text-align:center;
}
h1,h2,h3,h4,h5{
    text-align: center;
}
.trade{
    border: solid 1px white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}
button{
    margin-top: 10px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}
button:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
input[type=text]{
    margin-top: 10px;
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
}
input[type=number]{
    margin-top: 10px;
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
}
.sol-withdraw{
    width: 25%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.logout-button{
    margin-right: 10px;
    border: none;
}