@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
body,html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #092234;
    color: white;
    scroll-behavior: smooth;
    margin-bottom: 25px;
}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px #b8b8b8;
    position: relative;

}
#header-left{
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
    gap: 15px;
}
#header-right{
    display: flex;
    flex-wrap: nowrap;
}
.logo img{
    height: 64px;
    border-radius: 4px;
    cursor: pointer;
}
.login-button{
    border-radius: 5px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 12.5px;
    margin-right: 25px;
    transition: 0.25s
 }
.login-button:hover{
    background-color: white;
    color: black;
 }
#acct{
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12.5px;
    margin-right: 25px;
 }
#phantom-login img{
    height: 50px;
}
.nft-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.nft-case{
    text-align: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
}
.nft-case img{
    position: relative;
    bottom: -3px;
    margin-left: 0;
    width: 100%;
}
.refresh-nfts{

    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
}
.refresh-nfts:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
#deposit-display{
    text-align:center;
}
.user-login_box{
    z-index: 999;
    border: solid 1px #b8b8b8;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 100%;
    right: 10px;
    padding: 10px;
    background-color: #2F3136;
}
.user-login_box button{
    margin-left: 50%;
    transform: translateX(-50%);
}
#account-create{
    z-index: 999;
    border: solid 1px #b8b8b8;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 100%;
    right: 10px;
    padding: 10px;
    background-color: #2F3136;
}
input[type=text],input[type=password]{
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: solid 1px white;
    border-right: 0;
    border-radius: 5px;
}
button{
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
}
button:hover{
    border-color: transparent;
    background-color: #1f76e0;
    color: white;
}
h1,h2,h3,h4{
    text-align: center;
}

@keyframes openWide {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes openleft {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes openright {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}

.welcome-cover{
    margin-top: 25px;
    background-image: url('/static/images/geowave1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    margin-left: 20%;
    height: 250px;
    position: relative;
    border-radius: 5px;
    animation: openWide 0.75s;
}
.welcome-cover h1{
    position: absolute;
    width: fit-content;
    bottom: 0;
    left: 25px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
}

.nested{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    align-items: center;
}
.left-opener{
    animation: openleft 0.75s;
}
.right-opener{
    animation: openright 0.75s;
}
.nested div{
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
}

.nested img{
    width: 100%;
}
a{
    color: white;
}
.font-1{
font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 2em;
}
.font-2{
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 2px;
    font-size: 1.7em;
}
.font-2b{
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 2px;
    font-size: 1.5em;
}
.faq-container{
    width: 100%;
}
.faq-box{
    width: 80%;
    border: solid 1px white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.faq-box p{
    width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
}

.faq-box p:last-child{
    font-size: 1em;
}
.faq-box p:first-child{
    font-size: 1.2em;
}
.faq-box img{
    height: 1.5em;
    filter: invert(1);
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    transform: rotate(180deg);
}
