<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="NFTeSWAP" />
    <link rel="icon" href="/static/images/logo.png"/>
    <meta charset="UTF-8" />
    <title>NFTeSWAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous" href="/static/css/browse.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script>
    <script defer="" src="https://unpkg.com/@solana/spl-token@latest/lib/index.iife.js"></script>
    <script defer="" src="https://unpkg.com/@metaplex/js@2.0.1/lib/index.iife.js"></script>
    <script type="text/babel" src="/static/jsx/browse.jsx"></script>
  </head>
  <body>
    <div id="body">
    </div>
  </body>
</html>